<footer>
  <nav>
    <ul class="navbar-buttons">
      <a target="_self" href="/register"><button>Sign up</button></a>
      <a target="_self" href="/login"><button>Sign in</button></a>
      <a target="_self" href="/profile"><button>Perfil</button></a>
      <a href="/products" target="_self"><button>Products</button></a>
      <a href="/realTimeProducts" target="_self">
        <button>Ir a Real Time Products</button></a>
      <a href="/chat" target="_self"><button>Ir al chat</button></a>
    </ul>
  </nav>
</footer>