<h1>Modificá tus datos</h1>
<form>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      id="inputName"
      name="name"
      type="text"
      placeholder="nombre"
      autocomplete="on"
    /><br />
  </div>
  <div class="form-group">
    <label for="lastName">Apellido</label>
    <input
      id="inputLastName"
      name="lastName"
      type="text"
      placeholder="apellido"
      autocomplete="on"
    /><br />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="inputEmail" readonly />
    <br />
  </div>
  <button type="submit">Modificar!</button>
</form>

<script src="/js/edit.js"></script>