<div class="product-details-container">
  <div class="product-details">
    <h1>Detalles del Producto</h1>
    <h2 id="productTitle"></h2>
    <p><strong>Descripción:</strong> <span id="productDescription"></span></p>
    <p><strong>Precio:</strong> <span id="productPrice"></span></p>
    <p><strong>Categoría:</strong> <span id="productCategory"></span></p>
    <p><strong>Código:</strong> <span id="productCode"></span></p>
    <p><strong>Stock:</strong> <span id="productStock"></span></p>
    <p><strong>Imagen:</strong></p> <img  id="image" src='' alt="imgProduct">
    <button id="addToCartBtn">Agregar al Carrito</button>
  </div>
  {{!-- <div class="product-image">
    {{#if product.thumbnail}}
      {{#each product.thumbnail}}
        <img src="{{ ../baseUrl }}{{ this }}" alt="Imagen del Producto">
      {{/each}}
    {{/if}}
  </div> --}}
</div>
<script src="/js/details.js"></script>
<script>
  const addToCartBtn = document.getElementById('addToCartBtn');
  addToCartBtn.addEventListener('click', () => {
    window.location.replace("/carts/772554d6-3aaa-499e-a01b-ae889ed96cec")
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>