<h1>Perfil</h1>

<ul id="profileUL">
  <li>Nombre: <span id="nameSpan"></span></li>
  <li>Apellido: <span id="lastNameSpan"></span></li>
  <li>Correo electronico: <span id="emailSpan"></span></li>
</ul>

<script src="js/profile.js"></script>