<h1>Perfil</h1>
<p>Nombre: {{name}}</p>
<p>Apellido: {{lastName}}</p>
<p>Correo electronico: {{email}}</p>

<form>
  <button type="submit">Desloguearme!</button>
</form>
<script src="js/profile.js"></script>