<div class="recoverAccountclientbody">

  <div class="recoverAccountclientcontainer">
    <h1 class="recoverAccount-client-h1">Recover Account</h1>
    <form id="recoverAccountForm">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        placeholder="Enter your new password"
      />

      <label for="confirmPassword">Confirm Password</label>
      <input
        class="recoverAccount.client.input"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm your new password"
      />

      <button class="recoverAccount.client.button" type="submit">Reset Password</button>
    </form>
  </div>
</div>

<script src="js/profile/recoverAccount.js"></script>