/* productDetails CSS */
.product-details-container {
  display: flex;
  background-color: #101010;
  border-radius: 10px;
}

.product-details {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.product-image {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 80%;
  max-height: 80%;
}

body {
  background-color: #303030;
  color: #fff;
}
